service: ATP-Downloader
provider:
  name: aws
  runtime: go1.x
  stage: prod
  region: us-east-1
  versionFunctions: false
  memorySize: 128
  timeout: 30
  logRetentionInDays: 1

package:
 exclude:
   - ./**
 include:
   - ./bin/**

functions:
  hello:
    handler: bin/hello
    events:
      - http:
          path: hello
          method: get